table {
  width: 50%;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: left;
}

h2 {
  background-color: red;
}

.headingGroup {
  background-color: blue;
}

#grey {
  background-color: purple;
}
